.navbar {
  padding: 20px;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-nav .nav-item {
  padding: 5px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
