.whatsapp-button, .instagram-button {
  display: inline-flex;
  align-items: center;
  padding: 4px; /* Adjust padding for a smaller button */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin-left: 8px; /* Add some space between buttons */
}

.whatsapp-button {
  background-color: #25D366; /* WhatsApp green color */
}

.whatsapp-button:hover {
  background-color: #1eb941; /* Slightly darker green for hover effect */
}

.whatsapp-button svg, .instagram-button svg {
  font-size: 30px; /* Increase icon size */
}

.instagram-button {
  background-color: #E1306C; /* Instagram pink color */
}

.instagram-button:hover {
  background-color: #c13584; /* Slightly darker pink for hover effect */
}
